/* Media queries - para telas menores que 1024px */
@media screen and (max-width: 1024px) {
    div.titulo > h1 {
        font-size: 4em; /* Reduzir o tamanho da fonte para telas menores */
    }
}

/* Media queries - para telas menores que 768px */
@media screen and (max-width: 768px) {
    div.titulo > h1 {
        font-size: 3em; /* Reduzir ainda mais o tamanho da fonte */
    }

    div.titulo {
        width: 400px;
    }

}

/* Media queries - para telas menores que 480px */
@media screen and (max-width: 480px) {
    div.h1titulos > h1 {
        font-size: 1.3em; /* Tamanho ainda menor para cabeçalhos */
    }

    div.titulo {
        width: 300px;
    }
    div.titulo > img{
        width: 100%;
    }

    .container {
        padding: 10px; /* Reduzir padding */
    }

    .timeline::after {
        left: 20px; /* Ajustar a linha vertical */
    }
}

